In [8]:
import pandas as pd
import numpy as np

In [9]:
s=pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [10]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve','Frank','Grace', 'Hannah'],
    'Age': [25, 30, 35, 28, 32, 27, 31, 29],
    'Marks': [85, 90, 78, 88, 92, 80, 87, 95],
    'City': ['New York', 'London', 'Paris', 'Berlin', 'Tokyo', 'Sydney', 'Rome', 'Madrid'],
    'Gender': ['F', 'M', 'M', 'M', 'F','M','F','F']
})
df

      Name  Age  Marks      City Gender
0    Alice   25     85  New York      F
1      Bob   30     90    London      M
2  Charlie   35     78     Paris      M
3    David   28     88    Berlin      M
4      Eve   32     92     Tokyo      F
5    Frank   27     80    Sydney      M
6    Grace   31     87      Rome      F
7   Hannah   29     95    Madrid      F

In [11]:
#pandas functions used for dataframes

df.head(2)
df.tail(2)  
df.describe()
df.info()
df.shape
df.columns
df['Age'].sum()
df.to_csv('students.csv', index=True)
df.loc[2]       # Access row with index 2
df.loc[1:4]   # Access rows from index 1 to 3
df.loc[df['Age'] > 30]  # Filter rows where Age is greater than 30
df.Age.mean()  # Calculate the mean of the Age column
df1=df.copy() # Create a copy of the DataFrame
df.loc[5, 'Age'] = 22  # Modify value at row index 5 and column 'Age'
df.iloc[0:3, 0:2]  # Access rows 0 to 2 and columns 0 to 1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    8 non-null      object
 1   Age     8 non-null      int64
 2   Marks   8 non-null      int64
 3   City    8 non-null      object
 4   Gender  8 non-null      object
dtypes: int64(2), object(3)
memory usage: 452.0+ bytes

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [12]:
df1 = pd.read_csv('output.csv')    #importing csv file as dataframe
df1

           0         1         2         3         4
0   0.612672  0.408426  0.443078  0.211117  0.138875
1   0.075550  0.252768  0.839863  0.300525  0.273163
2   0.637870  0.375703  0.300417  0.170522  0.830191
3   0.734881  0.700873  0.797769  0.561666  0.594527
4   0.283408  0.755487  0.571437  0.573206  0.844968
5   0.254142  0.364775  0.356299  0.153771  0.591565
6   0.756397  0.861971  0.389499  0.870755  0.797986
7   0.548808  0.586186  0.597586  0.564516  0.258193
8   0.976534  0.445745  0.236671  0.255028  0.170098
9   0.887212  0.842015  0.955741  0.839703  0.477758
10  0.494608  0.118892  0.941710  0.748787  0.493669
11  0.322968  0.221322  0.577683  0.698392  0.069115
12  0.695640  0.746115  0.619714  0.395222  0.762216
13  0.466841  0.720019  0.644492  0.189865  0.958284
14  0.575008  0.172856  0.727222  0.626922  0.297179
15  0.856801  0.387068  0.627549  0.812803  0.380715
16  0.401056  0.507234  0.975253  0.575073  0.434511
17  0.418323  0.136583  0.410395  0.864082  0.238987
18  0.123888  0.513716  0.670496  0.577912  0.799698
19  0.019195  0.239325  0.289843  0.023957  0.731389
20  0.589112  0.020506  0.794567  0.745549  0.341111
21  0.092797  0.491555  0.506604  0.499030  0.939317
22  0.183472  0.456694  0.438204  0.926816  0.726257
23  0.747754  0.777413  0.566584  0.578248  0.821304
24  0.260821  0.968145  0.611998  0.875144  0.383410
25  0.845415  0.706312  0.392943  0.813901  0.116784
26  0.697165  0.704634  0.477187  0.517344  0.382740
27  0.078510  0.935106  0.898040  0.796486  0.502901
28  0.612950  0.046640  0.467387  0.907306  0.878852
29  0.505575  0.034801  0.148561  0.781546  0.194835
30  0.229088  0.779869  0.215714  0.319415  0.387426
31  0.045492  0.683310  0.258565  0.566324  0.046581
32  0.964943  0.804032  0.457761  0.497889  0.610117
33  0.107683  0.439310  0.197122  0.926274  0.304161
34  0.556276  0.668329  0.227997  0.841406  0.859581
35  0.439813  0.783156  0.500988  0.264065  0.415455
36  0.219902  0.625111  0.490446  0.906480  0.739732
37  0.746663  0.136403  0.333379  0.100590  0.336475
38  0.195596  0.535601  0.848409  0.506377  0.699068
39  0.349122  0.434851  0.378060  0.104251  0.537976
40  0.639132  0.740221  0.083725  0.370271  0.956447
41  0.788253  0.232134  0.923168  0.653263  0.250691
42  0.703006  0.253201  0.145761  0.106959  0.871767
43  0.105988  0.785803  0.423551  0.693954  0.487284
44  0.388039  0.937262  0.650774  0.774523  0.593056
45  0.691186  0.519695  0.513822  0.312853  0.637412
46  0.277352  0.142996  0.337524  0.874693  0.981077
47  0.140123  0.586729  0.021705  0.459732  0.855404
48  0.486804  0.295610  0.694192  0.152426  0.046928
49  0.023809  0.517041  0.642122  0.298868  0.253862

In [17]:
df1['1']

0     0.408426
1     0.252768
2     0.375703
3     0.700873
4     0.755487
5     0.364775
6     0.861971
7     0.586186
8     0.445745
9     0.842015
10    0.118892
11    0.221322
12    0.746115
13    0.720019
14    0.172856
15    0.387068
16    0.507234
17    0.136583
18    0.513716
19    0.239325
20    0.020506
21    0.491555
22    0.456694
23    0.777413
24    0.968145
25    0.706312
26    0.704634
27    0.935106
28    0.046640
29    0.034801
30    0.779869
31    0.683310
32    0.804032
33    0.439310
34    0.668329
35    0.783156
36    0.625111
37    0.136403
38    0.535601
39    0.434851
40    0.740221
41    0.232134
42    0.253201
43    0.785803
44    0.937262
45    0.519695
46    0.142996
47    0.586729
48    0.295610
49    0.517041
Name: 1, dtype: float64

In [ ]:
df1.drop('1', axis=1, inplace=True)
df1

In [ ]:
df.dropna(inplace=True)  #drops rows with any NaN values
df.fillna(0, inplace=True)  #fills NaN values with 0
df

In [ ]:
newse=pd.DataFrame(np.random.rand(15,5), index=range(51,66), columns=['A','B','C','D','E'])
newse
# creating dataframe from random values

In [61]:
pd1=pd.concat([df1, newse], axis=0)  #concatenating dataframes row-wise
pd1

,0,2,3,4,A,B,C,D,E
0,0.612672,0.443078,0.211117,0.138875,NaN,NaN,NaN,NaN,NaN
1,0.075550,0.839863,0.300525,0.273163,NaN,NaN,NaN,NaN,NaN
2,0.637870,0.300417,0.170522,0.830191,NaN,NaN,NaN,NaN,NaN
3,0.734881,0.797769,0.561666,0.594527,NaN,NaN,NaN,NaN,NaN
4,0.283408,0.571437,0.573206,0.844968,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
61,NaN,NaN,NaN,NaN,0.889644,0.315614,0.662182,0.554559,0.053752
62,NaN,NaN,NaN,NaN,0.578785,0.727255,0.702619,0.980757,0.619715
63,NaN,NaN,NaN,NaN,0.446730,0.311096,0.553852,0.786939,0.631317
64,NaN,NaN,NaN,NaN,0.502051,0.218212,0.814564,0.314718,0.493334
65,NaN,NaN,NaN,NaN,0.333456,0.136476,0.277792,0.435229,0.466140

In [62]:
pd1.notnull()  #checking for non null values in dataframe

        0      2      3      4      A      B      C      D      E
0    True   True   True   True  False  False  False  False  False
1    True   True   True   True  False  False  False  False  False
2    True   True   True   True  False  False  False  False  False
3    True   True   True   True  False  False  False  False  False
4    True   True   True   True  False  False  False  False  False
..    ...    ...    ...    ...    ...    ...    ...    ...    ...
61  False  False  False  False   True   True   True   True   True
62  False  False  False  False   True   True   True   True   True
63  False  False  False  False   True   True   True   True   True
64  False  False  False  False   True   True   True   True   True
65  False  False  False  False   True   True   True   True   True

[65 rows x 9 columns]

In [63]:
pd1.to_csv('concatinate.csv', index=True)

In [64]:
pd1.dropna()  #drops rows with any NaN values

Empty DataFrame
Columns: [0, 2, 3, 4, A, B, C, D, E]
Index: []

In [ ]:
pd1.fillna(0)  #fill na values with 0

,0,2,3,4,A,B,C,D,E
0,0.612672,0.443078,0.211117,0.138875,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.075550,0.839863,0.300525,0.273163,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.637870,0.300417,0.170522,0.830191,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.734881,0.797769,0.561666,0.594527,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.283408,0.571437,0.573206,0.844968,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...
61,0.000000,0.000000,0.000000,0.000000,0.889644,0.315614,0.662182,0.554559,0.053752
62,0.000000,0.000000,0.000000,0.000000,0.578785,0.727255,0.702619,0.980757,0.619715
63,0.000000,0.000000,0.000000,0.000000,0.446730,0.311096,0.553852,0.786939,0.631317
64,0.000000,0.000000,0.000000,0.000000,0.502051,0.218212,0.814564,0.314718,0.493334
65,0.000000,0.000000,0.000000,0.000000,0.333456,0.136476,0.277792,0.435229,0.466140

In [68]:
pd1

,0,2,3,4,A,B,C,D,E
0,0.612672,0.443078,0.211117,0.138875,NaN,NaN,NaN,NaN,NaN
1,0.075550,0.839863,0.300525,0.273163,NaN,NaN,NaN,NaN,NaN
2,0.637870,0.300417,0.170522,0.830191,NaN,NaN,NaN,NaN,NaN
3,0.734881,0.797769,0.561666,0.594527,NaN,NaN,NaN,NaN,NaN
4,0.283408,0.571437,0.573206,0.844968,NaN,NaN,NaN,NaN,NaN
5,0.254142,0.356299,0.153771,0.591565,NaN,NaN,NaN,NaN,NaN
6,0.756397,0.389499,0.870755,0.797986,NaN,NaN,NaN,NaN,NaN
7,0.548808,0.597586,0.564516,0.258193,NaN,NaN,NaN,NaN,NaN
8,0.976534,0.236671,0.255028,0.170098,NaN,NaN,NaN,NaN,NaN
9,0.887212,0.955741,0.839703,0.477758,NaN,NaN,NaN,NaN,NaN
10,0.494608,0.941710,0.748787,0.493669,NaN,NaN,NaN,NaN,NaN
11,0.322968,0.577683,0.698392,0.069115,NaN,NaN,NaN,NaN,NaN
12,0.695640,0.619714,0.395222,0.762216,NaN,NaN,NaN,NaN,NaN
13,0.466841,0.644492,0.189865,0.958284,NaN,NaN,NaN,NaN,NaN
14,0.575008,0.727222,0.626922,0.297179,NaN,NaN,NaN,NaN,NaN
15,0.856801,0.627549,0.812803,0.380715,NaN,NaN,NaN,NaN,NaN
16,0.401056,0.975253,0.575073,0.434511,NaN,NaN,NaN,NaN,NaN
17,0.418323,0.410395,0.864082,0.238987,NaN,NaN,NaN,NaN,NaN
18,0.123888,0.670496,0.577912,0.799698,NaN,NaN,NaN,NaN,NaN
19,0.019195,0.289843,0.023957,0.731389,NaN,NaN,NaN,NaN,NaN
20,0.589112,0.794567,0.745549,0.341111,NaN,NaN,NaN,NaN,NaN
21,0.092797,0.506604,0.499030,0.939317,NaN,NaN,NaN,NaN,NaN
22,0.183472,0.438204,0.926816,0.726257,NaN,NaN,NaN,NaN,NaN
23,0.747754,0.566584,0.578248,0.821304,NaN,NaN,NaN,NaN,NaN
24,0.260821,0.611998,0.875144,0.383410,NaN,NaN,NaN,NaN,NaN
25,0.845415,0.392943,0.813901,0.116784,NaN,NaN,NaN,NaN,NaN
26,0.697165,0.477187,0.517344,0.382740,NaN,NaN,NaN,NaN,NaN
27,0.078510,0.898040,0.796486,0.502901,NaN,NaN,NaN,NaN,NaN
28,0.612950,0.467387,0.907306,0.878852,NaN,NaN,NaN,NaN,NaN
29,0.505575,0.148561,0.781546,0.194835,NaN,NaN,NaN,NaN,NaN
30,0.229088,0.215714,0.319415,0.387426,NaN,NaN,NaN,NaN,NaN
31,0.045492,0.258565,0.566324,0.046581,NaN,NaN,NaN,NaN,NaN
32,0.964943,0.457761,0.497889,0.610117,NaN,NaN,NaN,NaN,NaN
33,0.107683,0.197122,0.926274,0.304161,NaN,NaN,NaN,NaN,NaN
34,0.556276,0.227997,0.841406,0.859581,NaN,NaN,NaN,NaN,NaN
35,0.439813,0.500988,0.264065,0.415455,NaN,NaN,NaN,NaN,NaN
36,0.219902,0.490446,0.906480,0.739732,NaN,NaN,NaN,NaN,NaN
37,0.746663,0.333379,0.100590,0.336475,NaN,NaN,NaN,NaN,NaN
38,0.195596,0.848409,0.506377,0.699068,NaN,NaN,NaN,NaN,NaN
39,0.349122,0.378060,0.104251,0.537976,NaN,NaN,NaN,NaN,NaN
40,0.639132,0.083725,0.370271,0.956447,NaN,NaN,NaN,NaN,NaN
41,0.788253,0.923168,0.653263,0.250691,NaN,NaN,NaN,NaN,NaN
42,0.703006,0.145761,0.106959,0.871767,NaN,NaN,NaN,NaN,NaN
43,0.105988,0.423551,0.693954,0.487284,NaN,NaN,NaN,NaN,NaN
44,0.388039,0.650774,0.774523,0.593056,NaN,NaN,NaN,NaN,NaN
45,0.691186,0.513822,0.312853,0.637412,NaN,NaN,NaN,NaN,NaN
46,0.277352,0.337524,0.874693,0.981077,NaN,NaN,NaN,NaN,NaN
47,0.140123,0.021705,0.459732,0.855404,NaN,NaN,NaN,NaN,NaN
48,0.486804,0.694192,0.152426,0.046928,NaN,NaN,NaN,NaN,NaN
49,0.023809,0.642122,0.298868,0.253862,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,0.588102,0.365872,0.010638,0.993866,0.711017
52,NaN,NaN,NaN,NaN,0.230640,0.694648,0.569718,0.459229,0.743115
53,NaN,NaN,NaN,NaN,0.462227,0.295531,0.518082,0.221329,0.899212
54,NaN,NaN,NaN,NaN,0.780226,0.647014,0.198903,0.365189,0.168851
55,NaN,NaN,NaN,NaN,0.823711,0.964113,0.314409,0.127683,0.564782
56,NaN,NaN,NaN,NaN,0.458463,0.291838,0.524949,0.627041,0.413478
57,NaN,NaN,NaN,NaN,0.910040,0.219302,0.607580,0.108571,0.409749
58,NaN,NaN,NaN,NaN,0.919580,0.933663,0.613594,0.341787,0.710450
59,NaN,NaN,NaN,NaN,0.980366,0.588324,0.393729,0.905944,0.119636
60,NaN,NaN,NaN,NaN,0.088600,0.674588,0.921560,0.855612,0.307407
61,NaN,NaN,NaN,NaN,0.889644,0.315614,0.662182,0.554559,0.053752
62,NaN,NaN,NaN,NaN,0.578785,0.727255,0.702619,0.980757,0.619715
63,NaN,NaN,NaN,NaN,0.446730,0.311096,0.553852,0.786939,0.631317
64,NaN,NaN,NaN,NaN,0.502051,0.218212,0.814564,0.314718,0.493334
65,NaN,NaN,NaN,NaN,0.333456,0.136476,0.277792,0.435229,0.466140

In [69]:
pd1.loc[2,'B']=100
pd1

,0,2,3,4,A,B,C,D,E
0,0.612672,0.443078,0.211117,0.138875,NaN,NaN,NaN,NaN,NaN
1,0.075550,0.839863,0.300525,0.273163,NaN,NaN,NaN,NaN,NaN
2,0.637870,0.300417,0.170522,0.830191,NaN,100.000000,NaN,NaN,NaN
3,0.734881,0.797769,0.561666,0.594527,NaN,NaN,NaN,NaN,NaN
4,0.283408,0.571437,0.573206,0.844968,NaN,NaN,NaN,NaN,NaN
5,0.254142,0.356299,0.153771,0.591565,NaN,NaN,NaN,NaN,NaN
6,0.756397,0.389499,0.870755,0.797986,NaN,NaN,NaN,NaN,NaN
7,0.548808,0.597586,0.564516,0.258193,NaN,NaN,NaN,NaN,NaN
8,0.976534,0.236671,0.255028,0.170098,NaN,NaN,NaN,NaN,NaN
9,0.887212,0.955741,0.839703,0.477758,NaN,NaN,NaN,NaN,NaN
10,0.494608,0.941710,0.748787,0.493669,NaN,NaN,NaN,NaN,NaN
11,0.322968,0.577683,0.698392,0.069115,NaN,NaN,NaN,NaN,NaN
12,0.695640,0.619714,0.395222,0.762216,NaN,NaN,NaN,NaN,NaN
13,0.466841,0.644492,0.189865,0.958284,NaN,NaN,NaN,NaN,NaN
14,0.575008,0.727222,0.626922,0.297179,NaN,NaN,NaN,NaN,NaN
15,0.856801,0.627549,0.812803,0.380715,NaN,NaN,NaN,NaN,NaN
16,0.401056,0.975253,0.575073,0.434511,NaN,NaN,NaN,NaN,NaN
17,0.418323,0.410395,0.864082,0.238987,NaN,NaN,NaN,NaN,NaN
18,0.123888,0.670496,0.577912,0.799698,NaN,NaN,NaN,NaN,NaN
19,0.019195,0.289843,0.023957,0.731389,NaN,NaN,NaN,NaN,NaN
20,0.589112,0.794567,0.745549,0.341111,NaN,NaN,NaN,NaN,NaN
21,0.092797,0.506604,0.499030,0.939317,NaN,NaN,NaN,NaN,NaN
22,0.183472,0.438204,0.926816,0.726257,NaN,NaN,NaN,NaN,NaN
23,0.747754,0.566584,0.578248,0.821304,NaN,NaN,NaN,NaN,NaN
24,0.260821,0.611998,0.875144,0.383410,NaN,NaN,NaN,NaN,NaN
25,0.845415,0.392943,0.813901,0.116784,NaN,NaN,NaN,NaN,NaN
26,0.697165,0.477187,0.517344,0.382740,NaN,NaN,NaN,NaN,NaN
27,0.078510,0.898040,0.796486,0.502901,NaN,NaN,NaN,NaN,NaN
28,0.612950,0.467387,0.907306,0.878852,NaN,NaN,NaN,NaN,NaN
29,0.505575,0.148561,0.781546,0.194835,NaN,NaN,NaN,NaN,NaN
30,0.229088,0.215714,0.319415,0.387426,NaN,NaN,NaN,NaN,NaN
31,0.045492,0.258565,0.566324,0.046581,NaN,NaN,NaN,NaN,NaN
32,0.964943,0.457761,0.497889,0.610117,NaN,NaN,NaN,NaN,NaN
33,0.107683,0.197122,0.926274,0.304161,NaN,NaN,NaN,NaN,NaN
34,0.556276,0.227997,0.841406,0.859581,NaN,NaN,NaN,NaN,NaN
35,0.439813,0.500988,0.264065,0.415455,NaN,NaN,NaN,NaN,NaN
36,0.219902,0.490446,0.906480,0.739732,NaN,NaN,NaN,NaN,NaN
37,0.746663,0.333379,0.100590,0.336475,NaN,NaN,NaN,NaN,NaN
38,0.195596,0.848409,0.506377,0.699068,NaN,NaN,NaN,NaN,NaN
39,0.349122,0.378060,0.104251,0.537976,NaN,NaN,NaN,NaN,NaN
40,0.639132,0.083725,0.370271,0.956447,NaN,NaN,NaN,NaN,NaN
41,0.788253,0.923168,0.653263,0.250691,NaN,NaN,NaN,NaN,NaN
42,0.703006,0.145761,0.106959,0.871767,NaN,NaN,NaN,NaN,NaN
43,0.105988,0.423551,0.693954,0.487284,NaN,NaN,NaN,NaN,NaN
44,0.388039,0.650774,0.774523,0.593056,NaN,NaN,NaN,NaN,NaN
45,0.691186,0.513822,0.312853,0.637412,NaN,NaN,NaN,NaN,NaN
46,0.277352,0.337524,0.874693,0.981077,NaN,NaN,NaN,NaN,NaN
47,0.140123,0.021705,0.459732,0.855404,NaN,NaN,NaN,NaN,NaN
48,0.486804,0.694192,0.152426,0.046928,NaN,NaN,NaN,NaN,NaN
49,0.023809,0.642122,0.298868,0.253862,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,0.588102,0.365872,0.010638,0.993866,0.711017
52,NaN,NaN,NaN,NaN,0.230640,0.694648,0.569718,0.459229,0.743115
53,NaN,NaN,NaN,NaN,0.462227,0.295531,0.518082,0.221329,0.899212
54,NaN,NaN,NaN,NaN,0.780226,0.647014,0.198903,0.365189,0.168851
55,NaN,NaN,NaN,NaN,0.823711,0.964113,0.314409,0.127683,0.564782
56,NaN,NaN,NaN,NaN,0.458463,0.291838,0.524949,0.627041,0.413478
57,NaN,NaN,NaN,NaN,0.910040,0.219302,0.607580,0.108571,0.409749
58,NaN,NaN,NaN,NaN,0.919580,0.933663,0.613594,0.341787,0.710450
59,NaN,NaN,NaN,NaN,0.980366,0.588324,0.393729,0.905944,0.119636
60,NaN,NaN,NaN,NaN,0.088600,0.674588,0.921560,0.855612,0.307407
61,NaN,NaN,NaN,NaN,0.889644,0.315614,0.662182,0.554559,0.053752
62,NaN,NaN,NaN,NaN,0.578785,0.727255,0.702619,0.980757,0.619715
63,NaN,NaN,NaN,NaN,0.446730,0.311096,0.553852,0.786939,0.631317
64,NaN,NaN,NaN,NaN,0.502051,0.218212,0.814564,0.314718,0.493334
65,NaN,NaN,NaN,NaN,0.333456,0.136476,0.277792,0.435229,0.466140

In [70]:
# use inplace=True to make changes in original dataframe
pd1.fillna(1, inplace=True)
pd1

,0,2,3,4,A,B,C,D,E
0,0.612672,0.443078,0.211117,0.138875,1.000000,1.000000,1.000000,1.000000,1.000000
1,0.075550,0.839863,0.300525,0.273163,1.000000,1.000000,1.000000,1.000000,1.000000
2,0.637870,0.300417,0.170522,0.830191,1.000000,100.000000,1.000000,1.000000,1.000000
3,0.734881,0.797769,0.561666,0.594527,1.000000,1.000000,1.000000,1.000000,1.000000
4,0.283408,0.571437,0.573206,0.844968,1.000000,1.000000,1.000000,1.000000,1.000000
5,0.254142,0.356299,0.153771,0.591565,1.000000,1.000000,1.000000,1.000000,1.000000
6,0.756397,0.389499,0.870755,0.797986,1.000000,1.000000,1.000000,1.000000,1.000000
7,0.548808,0.597586,0.564516,0.258193,1.000000,1.000000,1.000000,1.000000,1.000000
8,0.976534,0.236671,0.255028,0.170098,1.000000,1.000000,1.000000,1.000000,1.000000
9,0.887212,0.955741,0.839703,0.477758,1.000000,1.000000,1.000000,1.000000,1.000000
10,0.494608,0.941710,0.748787,0.493669,1.000000,1.000000,1.000000,1.000000,1.000000
11,0.322968,0.577683,0.698392,0.069115,1.000000,1.000000,1.000000,1.000000,1.000000
12,0.695640,0.619714,0.395222,0.762216,1.000000,1.000000,1.000000,1.000000,1.000000
13,0.466841,0.644492,0.189865,0.958284,1.000000,1.000000,1.000000,1.000000,1.000000
14,0.575008,0.727222,0.626922,0.297179,1.000000,1.000000,1.000000,1.000000,1.000000
15,0.856801,0.627549,0.812803,0.380715,1.000000,1.000000,1.000000,1.000000,1.000000
16,0.401056,0.975253,0.575073,0.434511,1.000000,1.000000,1.000000,1.000000,1.000000
17,0.418323,0.410395,0.864082,0.238987,1.000000,1.000000,1.000000,1.000000,1.000000
18,0.123888,0.670496,0.577912,0.799698,1.000000,1.000000,1.000000,1.000000,1.000000
19,0.019195,0.289843,0.023957,0.731389,1.000000,1.000000,1.000000,1.000000,1.000000
20,0.589112,0.794567,0.745549,0.341111,1.000000,1.000000,1.000000,1.000000,1.000000
21,0.092797,0.506604,0.499030,0.939317,1.000000,1.000000,1.000000,1.000000,1.000000
22,0.183472,0.438204,0.926816,0.726257,1.000000,1.000000,1.000000,1.000000,1.000000
23,0.747754,0.566584,0.578248,0.821304,1.000000,1.000000,1.000000,1.000000,1.000000
24,0.260821,0.611998,0.875144,0.383410,1.000000,1.000000,1.000000,1.000000,1.000000
25,0.845415,0.392943,0.813901,0.116784,1.000000,1.000000,1.000000,1.000000,1.000000
26,0.697165,0.477187,0.517344,0.382740,1.000000,1.000000,1.000000,1.000000,1.000000
27,0.078510,0.898040,0.796486,0.502901,1.000000,1.000000,1.000000,1.000000,1.000000
28,0.612950,0.467387,0.907306,0.878852,1.000000,1.000000,1.000000,1.000000,1.000000
29,0.505575,0.148561,0.781546,0.194835,1.000000,1.000000,1.000000,1.000000,1.000000
30,0.229088,0.215714,0.319415,0.387426,1.000000,1.000000,1.000000,1.000000,1.000000
31,0.045492,0.258565,0.566324,0.046581,1.000000,1.000000,1.000000,1.000000,1.000000
32,0.964943,0.457761,0.497889,0.610117,1.000000,1.000000,1.000000,1.000000,1.000000
33,0.107683,0.197122,0.926274,0.304161,1.000000,1.000000,1.000000,1.000000,1.000000
34,0.556276,0.227997,0.841406,0.859581,1.000000,1.000000,1.000000,1.000000,1.000000
35,0.439813,0.500988,0.264065,0.415455,1.000000,1.000000,1.000000,1.000000,1.000000
36,0.219902,0.490446,0.906480,0.739732,1.000000,1.000000,1.000000,1.000000,1.000000
37,0.746663,0.333379,0.100590,0.336475,1.000000,1.000000,1.000000,1.000000,1.000000
38,0.195596,0.848409,0.506377,0.699068,1.000000,1.000000,1.000000,1.000000,1.000000
39,0.349122,0.378060,0.104251,0.537976,1.000000,1.000000,1.000000,1.000000,1.000000
40,0.639132,0.083725,0.370271,0.956447,1.000000,1.000000,1.000000,1.000000,1.000000
41,0.788253,0.923168,0.653263,0.250691,1.000000,1.000000,1.000000,1.000000,1.000000
42,0.703006,0.145761,0.106959,0.871767,1.000000,1.000000,1.000000,1.000000,1.000000
43,0.105988,0.423551,0.693954,0.487284,1.000000,1.000000,1.000000,1.000000,1.000000
44,0.388039,0.650774,0.774523,0.593056,1.000000,1.000000,1.000000,1.000000,1.000000
45,0.691186,0.513822,0.312853,0.637412,1.000000,1.000000,1.000000,1.000000,1.000000
46,0.277352,0.337524,0.874693,0.981077,1.000000,1.000000,1.000000,1.000000,1.000000
47,0.140123,0.021705,0.459732,0.855404,1.000000,1.000000,1.000000,1.000000,1.000000
48,0.486804,0.694192,0.152426,0.046928,1.000000,1.000000,1.000000,1.000000,1.000000
49,0.023809,0.642122,0.298868,0.253862,1.000000,1.000000,1.000000,1.000000,1.000000
51,1.000000,1.000000,1.000000,1.000000,0.588102,0.365872,0.010638,0.993866,0.711017
52,1.000000,1.000000,1.000000,1.000000,0.230640,0.694648,0.569718,0.459229,0.743115
53,1.000000,1.000000,1.000000,1.000000,0.462227,0.295531,0.518082,0.221329,0.899212
54,1.000000,1.000000,1.000000,1.000000,0.780226,0.647014,0.198903,0.365189,0.168851
55,1.000000,1.000000,1.000000,1.000000,0.823711,0.964113,0.314409,0.127683,0.564782
56,1.000000,1.000000,1.000000,1.000000,0.458463,0.291838,0.524949,0.627041,0.413478
57,1.000000,1.000000,1.000000,1.000000,0.910040,0.219302,0.607580,0.108571,0.409749
58,1.000000,1.000000,1.000000,1.000000,0.919580,0.933663,0.613594,0.341787,0.710450
59,1.000000,1.000000,1.000000,1.000000,0.980366,0.588324,0.393729,0.905944,0.119636
60,1.000000,1.000000,1.000000,1.000000,0.088600,0.674588,0.921560,0.855612,0.307407
61,1.000000,1.000000,1.000000,1.000000,0.889644,0.315614,0.662182,0.554559,0.053752
62,1.000000,1.000000,1.000000,1.000000,0.578785,0.727255,0.702619,0.980757,0.619715
63,1.000000,1.000000,1.000000,1.000000,0.446730,0.311096,0.553852,0.786939,0.631317
64,1.000000,1.000000,1.000000,1.000000,0.502051,0.218212,0.814564,0.314718,0.493334
65,1.000000,1.000000,1.000000,1.000000,0.333456,0.136476,0.277792,0.435229,0.466140